.page__audio_song {
  margin: 0 50px 100px 0;
  width: 500px;
  height: 180px;
}

.page__audio_song:last-child {
  margin-right: 0;
}

@media (max-width: 640px) {
  .page__audio_song {
    width: 350px;
    height: 200px;
    margin: 0;
    margin-bottom: 20px;
  }
}
